<div class="dropdown-container">
  <app-multi-select
    [label]="'Introduce un no terminal'"
    [data]="dropdownNonTerminals"
    [maxLength]="1"
    [required]="true"
    #leftProductionRule
  >
  </app-multi-select>
  <mat-icon
    aria-hidden="false"
    aria-label="Arrow right icon"
    fontIcon="arrow_right_alt"
  ></mat-icon>
  <app-multi-select
    [label]="'Introduce símbolos'"
    [data]="dropdownSymbols"
    #rightProductionRule
  >
  </app-multi-select>
  <button mat-raised-button (click)="validateRule()">+</button>
</div>
<div class="rules-container">
  @for (rule of productionRules; track $index) {
  <div class="rule-container">
    <span>{{ rule.leftProductionRule }}</span>
    <mat-icon
      aria-hidden="false"
      aria-label="Arrow right icon"
      fontIcon="arrow_right_alt"
      class="arrow"
    ></mat-icon>
    <span
      >@for (symbol of rule.rightProductionRule; track $index) {
      {{ symbol }}
      }</span
    >
    <mat-icon
      (click)="removeRuleInput($index)"
      aria-hidden="false"
      aria-label="Garbage bin icon"
      fontIcon="cancel"
    ></mat-icon>
  </div>
  }
</div>
<div class="btn-container">
  <button
    [disabled]="productionRules.length === 0"
    mat-raised-button
    color="primary"
    (click)="submit()"
  >
    Generar Árbol
  </button>
  <button mat-raised-button (click)="downloadGrammar()">
    Descargar Gramática
  </button>
</div>
