<div class="dropdown-container">
  <ng-multiselect-dropdown
    [placeholder]="'Selecciona un no terminal'"
    [settings]="leftProductionRuleDropdownSettings"
    [data]="dropdownNonTerminals"
    [(ngModel)]="leftProductionRule"
  >
  </ng-multiselect-dropdown>
  <mat-icon
    aria-hidden="false"
    aria-label="Arrow right icon"
    fontIcon="arrow_right_alt"
  ></mat-icon>
  <ng-multiselect-dropdown
    [placeholder]="'Selecciona los símbolos'"
    [settings]="rightProductionRuleDropdownSettings"
    [data]="dropdownSymbols"
    [(ngModel)]="rightProductionRule"
  >
  </ng-multiselect-dropdown>
  <button mat-raised-button (click)="addRuleInput()">+</button>
</div>
<div class="rules-container">
  @for (rule of productionRules; track $index) {
  <div class="rule-container">
    <span>{{ rule.leftProductionRule }}</span>
    <mat-icon
      aria-hidden="false"
      aria-label="Arrow right icon"
      fontIcon="arrow_right_alt"
      class="arrow"
    ></mat-icon>
    <span
      >@for (symbol of rule.rightProductionRule; track $index) {
      {{ symbol }}
      }</span
    >
    <mat-icon
      (click)="removeRuleInput($index)"
      aria-hidden="false"
      aria-label="Garbage bin icon"
      fontIcon="cancel"
    ></mat-icon>
  </div>
  }
</div>
<div class="btn-container">
  <button
    [disabled]="productionRules.length === 0"
    mat-raised-button
    color="primary"
    (click)="submit()"
  >
    Generar Árbol
  </button>
  <button mat-raised-button color="primary" (click)="downloadGrammar()">
    Descargar Gramática
  </button>
</div>
