<div
  [ngClass]="darkModeService.darkModeSignal() ? 'dark' : 'light'"
  class="app"
>
  <mat-toolbar>
    <div>
      @if (isOnTreePage()) {
      <button
        mat-raised-button
        aria-label="Navigate home"
        (click)="navigateHome()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Home icon"
          fontIcon="arrow_back"
        ></mat-icon>
      </button>
      }
    </div>

    <app-dark-mode></app-dark-mode>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
