<div
  [ngClass]="darkModeService.darkModeSignal() ? 'dark' : 'light'"
  class="app"
>
  <mat-toolbar>
    <app-dark-mode></app-dark-mode>
  </mat-toolbar>
  <div class="container">
    <div>
      <div>
        <h1>Herramienta para el Estudio de Gramáticas Formales</h1>
        <h3>Bienvenidos a la Versión Beta</h3>
        <app-grammar (grammar)="generateTree($event)"></app-grammar>
      </div>
      <div>
        <app-tree *ngIf="grammar" [grammar]="grammar"></app-tree>
      </div>
    </div>
  </div>
</div>
