mat-toolbar {
  flex: 1 1 auto;
  justify-content: end;
}

.app {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;

  ::ng-deep mat-tab-header {
    margin-bottom: 20px;
  }
}
