@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
    warn: mat.define-palette(mat.$red-palette)
  ),
  density: -2,
  typography: mat.define-typography-config()
));

@include mat.all-component-themes($dark-theme);

.dark {
  @include mat.all-component-colors($dark-theme);

  background-color: #2c2c2c;
  color: #d6d6d6;

  .terminal-container {
    .terminal {
      background-color: #e91e63 !important;
    }
  }

  svg {
    circle.node {
      stroke: #e91e63;
    }

    .node text {
      fill: #fff;
    }
  }

}