<div class="dropdown">
  <app-help-dropdown></app-help-dropdown>
</div>
<div class="terminal-input">
  <div>
    <h3>No Terminales</h3>
    <app-terminals
      [loadedSymbols]="loadedGrammar?.nonTerminals"
      [symbolType]="'no terminal'"
      [symbolLength]="1"
      (formValue)="onNonTerminalFormEvent($event)"
      (deletedSymbol)="onDeletedNonTerminalEvent($event)"
    ></app-terminals>
  </div>
  <div>
    <h3>Terminales</h3>
    <app-terminals
      [loadedSymbols]="loadedGrammar?.terminals"
      [symbolType]="'terminal'"
      (formValue)="onTerminalFormEvent($event)"
      (deletedSymbol)="onDeletedTerminalEvent($event)"
    ></app-terminals>
  </div>
</div>
<h3>Reglas de producción</h3>
<app-input
  (formValue)="onFormEvent($event)"
  [terminals]="terminals"
  [nonTerminals]="nonTerminals"
  [loadedProductionRules]="loadedProductionRules"
  [deletedTerminal]="deletedTerminal"
  [deletedNonTerminal]="deletedNonTerminal"
></app-input>
