<div>
  <div class="form-container">
    <form #symbolForm="ngForm" [formGroup]="terminalForm">
      <mat-form-field>
        <input
          matInput
          formControlName="symbol"
          [placeholder]="placeholder"
          [maxlength]="symbolLength"
          (keyup.enter)="addTerminal(); symbolForm.resetForm()"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="addTerminal()">+</button>
  </div>

  <div class="terminal-container">
    @for (symbol of symbols; track $index) {
    <div class="terminal">
      <span>{{ symbol }}</span>
      <mat-icon
        aria-hidden="false"
        aria-label="Garbage bin icon"
        fontIcon="cancel"
        (click)="removeTerminal($index)"
      ></mat-icon>
    </div>
    } @empty {
    <span>Introduce un {{ symbolType }}</span>
    }
  </div>
</div>
