.d3-chart {
  width: 700px;
  height: 650px;
  overflow: auto;

  width: 100%;
}

.btn-container {
  display: flex;

  button {
    margin: 5px;
  }
}

.tree-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  mat-toolbar {
    padding: 20px;

    mat-icon {
      margin-right: 0;
    }
  }

  button {
    align-self: center;
  }

  span {
    margin-bottom: 20px;
    text-align: center;
  }
}

:host ::ng-deep svg {
  display: block;
  margin: auto;
}

:host ::ng-deep .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

:host ::ng-deep .node text {
  font: 12px sans-serif;
}

:host ::ng-deep .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

@media (max-width: 400px) {
  .tree-container {
    margin-left: 0;
  }

  :host ::ng-deep svg {
    transform: scale(1.5);
    width: 100%;
  }
}
