.d3-chart {
  width: 700px;
  min-height:400px;
}

.tree-container {
  display: flex;
  flex-direction: column;

  button {
    align-self: center;
  }

  span {
    margin-bottom: 20px;
    text-align: center;
  }

}

:host ::ng-deep svg{
  display: block;
  margin: auto;
}

:host ::ng-deep .node circle{
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

:host ::ng-deep .node text{ font: 12px sans-serif; }

:host ::ng-deep .link{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}