.d3-chart {
  width: 700px;
  height: 650px;
  overflow: auto;

  width: 100%;
}

.btn-container {
  display: flex;

  button {
    margin: 5px;
  }
}

.tree-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  mat-toolbar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    white-space: nowrap;

    mat-icon {
      margin-right: 0;
    }
  }

  button {
    align-self: center;
  }

  span {
    margin-bottom: 20px;
    text-align: center;
  }
}

:host ::ng-deep svg {
  display: block;
  margin: auto;
}

:host ::ng-deep .node.terminal circle {
  fill: #fff;
  stroke: green !important;
  stroke-width: 3px;
  transition: stroke 0.3s ease, fill 0.3s ease;
}

:host ::ng-deep .node.non-terminal circle {
  fill: #fff;
  stroke: steelblue !important;
  stroke-width: 3px;
  transition: stroke 0.3s ease, fill 0.3s ease;
}

:host ::ng-deep .node.current circle {
  stroke: orange !important;
  stroke-width: 4px;
  fill: #fff3e0;
}

:host ::ng-deep .node text {
  font: 12px sans-serif;
}

:host ::ng-deep .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

@media (max-width: 400px) {
  .tree-container {
    margin-left: 0;
  }

  :host ::ng-deep svg {
    transform: scale(1.5);
    width: 100%;
  }
}
